@font-face {
	font-family:ApexNew-Bold;
	src: url('https://s0.2mdn.net/creatives/assets/2502019/ApexNew-Bold.woff') format('woff')		
}

@font-face {
	font-family:ApexNew-BoldItalic;
	src: url('https://s0.2mdn.net/creatives/assets/2502019/ApexNew-BoldItalic.woff') format('woff')		
}

@font-face {
	font-family:ApexNew-Book;
	src: url('https://s0.2mdn.net/creatives/assets/2502019/ApexNew-Book.woff') format('woff')
}

@font-face {
	font-family:ApexNew-BookItalic;
	src: url('https://s0.2mdn.net/creatives/assets/2502019/ApexNew-BookItalic.woff') format('woff')
}

@font-face {
	font-family:ApexNew-Heavy;
	src: url('https://s0.2mdn.net/creatives/assets/2502019/ApexNew-Heavy.woff') format('woff')
}

@font-face {
	font-family:ApexNew-HeavyItalic;
	src: url('https://s0.2mdn.net/creatives/assets/2502019/ApexNew-HeavyItalic.woff') format('woff')
}

@font-face {
	font-family:ApexNew-Light;
	src: url('https://s0.2mdn.net/creatives/assets/2502019/ApexNew-Light.woff') format('woff')
}

@font-face {
	font-family:ApexNew-Medium;
	src: url('https://s0.2mdn.net/creatives/assets/2502019/ApexNew-Medium.woff') format('woff')
}

@font-face {
	font-family:ApexNew-MediumItalic;
	src: url('https://s0.2mdn.net/creatives/assets/2502019/ApexNew-MediumItalic.woff') format('woff')
}

@font-face {
	font-family:ApexNew-Thin;
	src: url('https://s0.2mdn.net/creatives/assets/2502019/ApexNew-Thin.woff') format('woff')
}

@font-face {
	font-family:ApexNew-ThinItalic;
	src: url('https://s0.2mdn.net/creatives/assets/2502019/ApexNew-ThinItalic.woff') format('woff')
}

@font-face {
	font-family:ApexNew-Ultra;
	src: url('https://s0.2mdn.net/creatives/assets/2502019/ApexNew-Ultra.woff') format('woff')
}

@font-face {
	font-family:ApexNew-UltraItalic;
	src: url('https://s0.2mdn.net/creatives/assets/2502019/ApexNew-UltraItalic.woff') format('woff')
}